<br><br><br><br><br><br>
<div class="container">
  <div style="text-align: center;">
    <a class="btn btn-outline-primary" routerLink="/allrents">All Rents</a>
  </div>
<br>
  <table class="table table-hover border-2">
    <thead class="table-dark">
      <tr>
        <th scope="col">Region</th>
        <th scope="col">Price</th>
        <th scope="col">Gender</th>
        <th scope="col">Num of Room</th>
         <!-- <th scope="col">img</th>  -->

        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of Places | paginate: { itemsPerPage: 6, currentPage: p }" class="table-primary" appChengeColor>
        <td>{{ p.region}}</td>
        <td>{{ p.apartmentPrice }}</td>
        <td>{{ p.genderOfStudents }}</td>
        <td>{{ p.numofRoom }}</td>
         <!-- <td>{{ p.images}}</td>  -->

        <td>
          <button type="button" class="btn btn-outline-info m-2"
            [routerLink]="'/places/' + p.apartmentId"><i class="fas fa-info-circle"></i></button>

          <button type="button" class="btn btn-outline-success m-2"
            [routerLink]="'/updateplaces/' + p.apartmentId"><i class="fas fa-sync-alt"></i></button>
          <button type="button" class="btn btn-outline-danger m-2" (click)="deleteplaces(p.apartmentId)"
            routerLink="/places"><i class="fas fa-solid fa-trash"></i></button>
          <!-- <button *ngIf="p.requestRent" type="button" class="btn btn-outline-secondary m-2" (click)="accept(p.id)">Accept</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-outline-primary" routerLink="/addplaces">Add Places</a>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="pagination d-flex justify-content-center mt-5">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<br><br><br>

















<!----------------------------------------->
<!-- <br /><br /><br /><br /><br /><br />
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="m-2">
      <h4 style="background-color:cornflowerblue" class="m-auto text-center">Places</h4>

      <table class="table table-hover border-2">
        <thead class="table-dark">
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Gender</th>
            <th scope="col">Num Of rooms</th>

            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of Places" class="table-primary" appChengeColor>
            <td>{{ p.price }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.numofroom }}</td>
            <td class="text-nowrap">
              <button
                type="button"
                class="btn btn-outline-info m-2"
                [routerLink]="'/places/' + p.id"
              >
                Details
              </button>
              <button
                type="button"
                class="btn btn-outline-success m-2"
                [routerLink]="'/updateplaces/' + p.id"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-outline-danger m-2"
                (click)="deleteplaces(p.id)"
                routerLink="/places"
              >
                Delete
              </button>
              <button
                *ngIf="p.requestRent"
                type="button"
                class="btn btn-outline-secondary m-2"
                (click)="accept(p.id)"
              >
                Accept
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="m-2">
      <h4 style="background-color:cornflowerblue" class="m-auto text-center">Accepted Places</h4>
      <table class="table table-hover border-2">
        <thead class="table-dark">
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Gender</th>
            <th scope="col">Num Of rooms</th>

            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let p of AcceptedPlaces"
            class="table-primary"
            appChengeColor
          >
            <td>{{ p.price }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.numofroom }}</td>
            <td class="text-nowrap">
              <button
                type="button"
                class="btn btn-outline-info m-2"
                (click)="Cancle(p.id)"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-outline-primary" routerLink="/addplaces">Add Places</a>
</div>
<br /><br /><br /> -->