	<!-- header -->
	<div class="top-header-area " id="sticker" style="height: 75px;">
		<div class="container ">
			<div class="row ">
				<div class=" col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap ">
						<!-- logo -->
						<div class="site-logo">
							<a href="index_2.html">
								
								<img  src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu ">
							<ul>
								<!--*ngIf="isLogin"  -->
								<li ><a  routerLink="/home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="current-list-item"  >Home</a>

                                </li>
								<!--*ngIf="isLogin"  -->
								<li ><a  routerLink="/hosing" routerLinkActive="active" >Housing</a></li>
								<!--*ngIf="isLogin"  -->
								<li ><a  routerLink="/about" routerLinkActive="active" >About</a></li>
								<!--*ngIf="isLogin"  -->
								<li ><a  routerLink="/contact" routerLinkActive="active" >Contact</a></li>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<!-- *ngIf="!isLogin" -->
								<!-- <li *ngIf="!isLogin" class="boxed-btn m-auto" style="height: 40px; border-radius: 5px;">Login
									<ul class="sub-menu">
									  <li><a routerLink="/login" routerLinkActive="active">Owner</a></li>
									  <li><a routerLink="/loginstudent" routerLinkActive="active">Student</a></li>
									</ul>
								  </li> -->

							<!-- *ngIf="!isLogin" -->
								  <li  class="boxed-btn m-1 p-3" style="height: 50px; border-radius: 5px;">Login
									<ul class="sub-menu">
									  <li><a routerLink="/login" routerLinkActive="active">Owner</a></li>
									  <li><a routerLink="/loginstudent" routerLinkActive="active">Student</a></li>
									</ul>
								  </li>
								<li>
									
									<div class="header-icons ">

										
										<!-- *ngIf="!isLogin" -->
										<!-- <a  routerLink="/login" routerLinkActive="active" class="boxed-btn" style="height: 50px ; ">Login</a> -->
										
										<!-- *ngIf="!isLogin"  -->
										<!-- *ngIf="isLogin" -->
										<!-- <a *ngIf="!isLogin"  routerLink="/register" routerLinkActive="active" class="bordered-btn m-1 p-1 text-center" style="height: 40px;  margin: 0 auto; border-radius: 5px;">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										
										
										<a *ngIf="isLogin" (click)="logout()" class="boxed-btn  m-auto text-center" style="height: 40px;   margin: 0 auto; border-radius: 5px;">Logout</a> -->
										
										<!-- *ngIf="!isLogin" -->
										<a  routerLink="/register" routerLinkActive="active" class="bordered-btn m-1 "style="height: 50px; border-radius: 5px;" >Register</a>
										<!-- *ngIf="isLogin" -->
										<a  (click)="logout()" class="boxed-btn" style="height: 50px; border-radius: 5px;">Logout</a>

									</div>
									
								</li>
							</ul>
						</nav>
						<!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->

						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- end header -->


	
