

<br>
<br>
<br>
<br>
<br>

<div class="container">
    
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">NumberOfRooms</th>
        <!-- <th scope="col">Image</th> -->
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of notApprovedAppartment">
        <th scope="row">{{app.id}}</th>
        <td>{{app.description}}</td>
        <td>{{app.noOfRooms}}</td>
        <td>{{app.phone}}</td>

        <!-- <td><img [src]="app.img" alt="" width="150px" height="100px"></td> -->
        <td class="d-flex gap-3" >
            <button class="btn btn-dark" style="margin-right: 5px;" [routerLink]="'/places/'+app.id">Details</button>
            <button class="btn btn-primary" style="margin-right: 5px;" (click)="approval(app.id)">Approval</button>
            <button class="btn btn-danger " style="margin-left: 5px;" (click)="delete(app.id)">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

