<br><br><br><br><br><br>

<div class="container">
  @if (Places){
    <div class="card mb-3 p-5 ">
      <h5 class="card-title">Places Details</h5>
      <br>
      <div class="row">
        <div class="col-sm-6">
           <p><strong>Description:</strong> {{ Places.description }}</p>
          <p><strong>Location:</strong> {{ Places.location }}</p>
          <p><strong>Region:</strong> {{ Places.region }}</p>
          <p><strong>Price:</strong> {{ Places.apartmentPrice }}</p>
        </div>
        <div class="col-sm-6">
          <p><strong>Capacity:</strong> {{ Places.capacity }}</p>
          <p><strong>Gender:</strong> {{ Places.genderOfStudents }}</p>
          <p><strong>Num of rooms:</strong> {{ Places.numofRoom }}</p> 
          <!-- <p><strong>Phone Number:</strong> {{ Places.phone }}</p>
          <p><img [src]="Places.img"></p> -->

         </div>
      </div>
      
    </div>
    <button type="button" class="btn btn-outline-primary"><a routerLink="/places">Back to Placess</a></button>

    
  }
  @else {
    <div class="alert alert-danger">
      <h1>Loading...</h1>
    </div>
  }
  

</div>
<br><br><br><br><br><br> 













<!------------------------------------------>
<!-- <br><br><br><br><br><br>

<div class="container">
  @if (Places){
    <div class="card mb-3 p-5 ">
      <h5 class="card-title">Places Details</h5>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p><strong>Description:</strong> {{ Places.description }}</p>
          <p><strong>Location:</strong> {{ Places.location }}</p>
          <p><strong>Region:</strong> {{ Places.region }}</p>
          <p><strong>Price:</strong> {{ Places.price }}</p>
        </div>
        <div class="col-sm-6">
          <p><strong>Capacity:</strong> {{ Places.capacity }}</p>
          <p><strong>Gender:</strong> {{ Places.gender }}</p>
          <p><strong>Num of rooms:</strong> {{ Places.numofroom }}</p>
          <p><strong>Phone Number:</strong> {{ Places.phone }}</p>
          <p><img [src]="Places.img"></p>

        </div>
      </div>
      
    </div>
    <button type="button" class="btn btn-outline-primary"><a routerLink="/places">Back to Placess</a></button>

    
  }
  @else {
    <div class="alert alert-danger">
      <h1>Loading...</h1>
    </div>
  }
  

</div>
<br><br><br><br><br><br> -->
